<div class="content-wrapper">

<nav class="admin-nav">
  <ul>
    <% if current_user.admin == 1%>
    <li><%= link_to "Back", courses_path, class:"admin-nav-link" %></li>
    <%end%>
    <li class="last-item"><%= link_to "Logout", logout_path ,method: :delete %></li>
  </ul>
</nav>

<h1>Contents</h1>

<table class="table table-bordered content-table">
  <thead>
    <tr>
      <th>Lesson number</th>
      <th>Lesson description</th>
      <th>Class room</th>
      <th>Lesson teacher</th>
      <%if current_user.admin == 1 %>
      <th colspan="2">Options</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.lesson_number %></td>
        <td><%= content.lesson_description %></td>
        <td><%= content.class_room %></td>
        <td><%= content.lesson_teacher %></td>
        <%if current_user.admin == 1%>
        <td><%= link_to 'Edit', edit_content_path(content), class: 'content-link' %></td>
        <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }, class: 'courses_path' %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', course_contents_new_path, class: 'content-link' %>
</div>
