<div class="user-wrapper">
<nav class="admin-nav">
  <ul>
    <li><%= link_to "Back", courses_path, class:"admin-nav-link" %></li>
    <li class="last-item"><%= link_to "Logout", logout_path ,method: :delete %></li>
  </ul>
</nav>

<h1>Users</h1>

<table class="table table-bordered user-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"user-link"%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"user-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_content_path %>
</div>
